html, body {
  font-family: 'Raleway';
  margin-bottom: 50px;
}

body {
  background: linear-gradient(-45deg, #09203F, #22416b, #708ca1, #b9cedf);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.name {
  color: #d0d5e2;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

.social-links a {
  text-decoration: none;
  color: #d0d5e2;
  font-size: 30px;
}
.social-links a:hover {
  transform: scale(1.2);
  transition-duration: 300ms;
}

.link {
  background-color: #384670;
}
.link a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-left: 20px;
  flex-grow: 1;
  text-align: center;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 1000px;
  box-shadow: 5px 5px 10px
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
  margin-bottom: 50px;
}

.link {
  display: flex;
  align-items: center;
  width: 60%;
  border-radius: 100px;
  box-shadow: 5px 5px 10px
}

.clickable:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
}
